<div id="map"></div>
<div class="new">NEW</div>

<div class="ui">
  <div class="block title">
    <div class="headline"><a href="/#">TransitMix:</a></div>
    <div class="mapname">Recent Remixes</div>
  </div>
  <div id="routes"></div>
  <div class="block hello">
    <p class="tagline">For those who want to remix more than the streets.</p>
    <p class="">Start a <span class="newmix">new mix</span>.</p>
  </div>
  <div class="block add"><p>Add Route</p>
</div>
