/* from: http://paulirish.com/2012/box-sizing-border-box-ftw/ */
/* apply a natural box layout model to all elements */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

$primary-color: #261835;

body {
  font-family: jaf-facitweb, sans-serif;
  color: white;
  font-size: 15px;
  line-height: 1;
  text-shadow: -1px -1px 0px rgba(49, 41, 58, 0.5);
}

/* Don't show bluebox around contenteditable in WebKit */
[contenteditable]:focus {
  outline: 0px solid transparent;
}

#map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
