/* from: http://paulirish.com/2012/box-sizing-border-box-ftw/ */
/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

$primary-color: #261835;

body {
  font-family: jaf-facitweb, sans-serif;
  color: white;
  font-size: 15px;
  line-height: 1;
  text-shadow: -1px -1px 0px rgba(49, 41, 58, 0.5);
}

/* Don't show bluebox around contenteditable in WebKit */
[contenteditable]:focus {
  outline: 0px solid transparent;
}

#map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/********* Feedback View ***************/
.feedbackView {
  background: #000;
  margin-top: 20px;
  padding: 18px 24px;
  position: absolute;
  bottom: 0;
  left: 30px;
  opacity: 0.6;
  font-size: 14px;
  max-width: 450px;
}

.feedbackView.expanded {
  padding: 24px 24px;
  font-size: 18px;
}

.feedbackView.expanded .feedbackHint {
  font-weight: 600;
}

.feedbackView:hover {
  opacity: 0.8;
}

.feedbackHint:hover {
  cursor: pointer;
}

.feedbackDescription {
  font-size: 14px;
  line-height: 26px;
  color: #ADADAD;
  margin-top: 10px;
}


.feedbackView a {
  color: white;
  border-bottom: 1px dotted #7D6992;
  text-decoration: none;
}

.feedbackView a:hover {
  cursor: pointer;
  border-bottom: 1px dotted #F9F4FF;
}

.feedbackForm {
  margin-top: 10px;
  position: relative;
}

.feedbackForm input {
  font-size: 15px;
  line-height: 25px;
  padding: 3px 7px;
}

.feedbackForm input[type="submit"] {
  font-size: 15px;
  float: right;
  background: #3A3A3A;
  color: #FFF;
  padding: 6px 12px;
  border: none;
  position: absolute;
  right: 0px;
  top: -1px;
  width: 142px;
}

.feedbackForm input[type="submit"]:hover {
  background: #9B0000;
  cursor: pointer;
}

/********* Home View ***************/
.homeView {
  position: absolute;
  left: 50%;
  width: 450px;
  margin-left: -225px;
  top: 50%;
  margin-top: -150px;
}

.homeViewWrapper {
  background: $primary-color;
  padding: 18px 24px;
}

.homeTitle {
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
}

.homeDescription {
  font-size: 14px;
  line-height: 24px;
  color: #B9B3CA;
  margin-top: 6px;
}

.homeCityWrapper {
  background: #493A70;
  padding: 16px 26px;
  margin: 14px -24px;
  position: relative;
}

.homeCity {
  color: #FFF;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
  padding: 6px 3px;
  margin: 0 -3px;
  font-size: 20px;
  display: inline-block;
  width: 304px;
}

.homeCity:hover {
  border-bottom: 1px dotted rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.homeStartButton {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
  color: #FFF;
  padding: 0px 22px;
  border-left: 8px solid $primary-color;
  bottom: 0;
  line-height: 63px;
}

.homeStartButton:hover {
  background: #7D42BB;
  cursor: pointer;
}

.homeFooter {
  font-size: 14px;
  line-height: 24px;
  color: #A79ACA;
  margin-top: 6px;
}

.homeFooter a {
  color: #A79ACA;
  text-decoration: none;
}

.homeFooter a:hover {
  color: #A79ACA;
  text-decoration: underline;
}

/****************** Map View ***************/

/* 
  Subviews:
  MapSidebarView
  LineSidebarView
  LineView
  SelectedLine
*/

/********* Map Sidebar View ***************/
.mapSidebarView {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 280px;
}

.mapSidebarView>div {
  padding: 12px 14px;
}

.mapSidebarView span {
  border-bottom: 1px dotted #7D6992;
  color: white;
}

.mapSidebarView span:hover {
  cursor: pointer;
  border-bottom: 1px dotted #F9F4FF;
}

.mapSidebarHeader {
  background: $primary-color;
  padding: 16px 14px !important;
}

.mapSidebarTitle {
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
}

.mapSidebarDescription {
  font-size: 14px;
  line-height: 24px;
  color: #B9B3CA;
  margin-top: 6px;
}

.mapSidebarActions {
  background: $primary-color;
  position: relative;
  padding: 16px 14px !important;
}

.mapSidebarActions .left {
  position: relative;
  top: -1px;
}

.mapSidebarActions .right {
  position: absolute;
  right: 14px;
  top: 15px;
}

.mapSidebarActions .right span {
  margin-left: 10px;
}

.mapSidebarLines {
  padding: 0 !important;
}

.mapSidebarLine {
  padding: 17px 14px;
}

.mapSidebarLine .lineName {
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}

.mapSidebarLine .lineDescription {
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 11px;
}

/********* Selected Line View ***************/

.mapMarkerWrapper {
  /* overide default styles for leaflet markers */
  background: #ffffff;
  width: 16px !important;
  height: 16px !important;
  border-radius: 16px;
}

.mapMarker {
  border-radius: 10px;
  height: 10px;
  width: 10px;
  border: 3px solid #999;
  padding: 4px;
  margin: 1px;
  background: #ffffff;
}

.showMarkerTooltip:hover:after {
  position: absolute;
  left: 24px;
  top: -6px;
  background: #FFF;
  font-size: 11px;
  white-space: nowrap;
  padding: 0px 8px;
  content: "Drag to change route, click to remove.";
  text-shadow: none;
  box-shadow: 0px 1px 5px #8F8F8F;
  color: #333;
}

.showDrawingTooltip:after {
  position: absolute;
  left: 24px;
  top: -6px;
  background: #FFF;
  font-size: 11px;
  white-space: nowrap;
  padding: 0px 8px;
  content: "Click again to finish.";
  text-shadow: none;
  box-shadow: 0px 1px 5px #8F8F8F;
  color: #333;
}

.showDrawingCursor {
  cursor: pointer;
}

.drawingInstructions {
  position: absolute;
  right: 0;
  bottom: 100px;
  left: 0;
  background: $primary-color;
  text-align: center;
  line-height: 44px;
}

/********* Line Sidebar View ***************/
.lineSidebarView {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 280px;
}

.lineSidebarView>div {
  padding: 14px 14px;
}

.nav {
  background: $primary-color;
  height: 42px;
  color: rgba(255, 255, 255, 0.8);
}

.navHome {
  float: left;
  margin-top: -1px;
}

.navRight {
  float: right;
  margin-top: -1px;
}

.navRight .navNew {
  margin-right: 10px;
  display: inline-block;
}

.navRight .navDelete {
  display: inline-block;
}

.navHome, .navNew, .navDelete {
  padding-bottom: 2px;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
}

.navHome:hover, .navNew:hover, .navDelete:hover {
  color: white;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.lineHeader {
  /*background: #AD0101;*/
}

.lineName {
  font-size: 26px;
  font-weight: 600;
  line-height: 36px;
}

.lineDescription {
  font-size: 14px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 6px;
}

.lineName:hover, .lineDescription:hover {
  /* TODO: make this look more editable */
  cursor: pointer;
}

.lineVariables {
  /*background: #750000;*/
  line-height: 26px;
  color: rgba(255, 255, 255, 0.7);
}

.lineVariables span {
  color: white;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
  padding: 0 3px;
  margin: 0 -3px;
  min-width: 20px;
  display: inline-block;
}

.lineVariables span:hover {
  border-bottom: 1px dotted rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.lineFrequency {}
.lineSpeed {}
.lineHours {}

.lineCalculations {
  /*background: #3C0000;*/
  line-height: 26px;
  color: rgba(255, 255, 255, 0.7);
}

.lineCalculations span {
  color: white;
}

.lineDistance {}
.lineFrequency {}
