/* reset from: http://meyerweb.com/eric/tools/css/reset/ */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* from: http://paulirish.com/2012/box-sizing-border-box-ftw/ */
/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
  font-family: jaf-facitweb, sans-serif;
  color: white;
  font-size: 15px;
  text-shadow: -1px -1px 0px rgba(49, 41, 58, 0.5);
}

/* Don't show bluebox around contenteditable in WebKit */
[contenteditable]:focus {
  outline: 0px solid transparent;
}

/********* Map ***************/

#map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.mapMarkerWrapper {
  /* overide default styles for leaflet markers */
  background: #ffffff;
  width: 16px !important;
  height: 16px !important;
  border-radius: 16px;
  border: 2px solid #ffffff;
}

.mapMarker {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 12px solid #ffffff;
  margin: 1px 1px 1px 0;
}

.showMarkerTooltip:hover:after {
  position: absolute;
  left: 24px;
  top: -6px;
  background: #FFF;
  font-size: 11px;
  white-space: nowrap;
  padding: 0px 8px;
  content: "Drag to change route, click to remove.";
  text-shadow: none;
  box-shadow: 0px 1px 5px #8F8F8F;
  color: #333;
}

.showDrawingTooltip:after {
  position: absolute;
  left: 24px;
  top: -6px;
  background: #FFF;
  font-size: 11px;
  white-space: nowrap;
  padding: 0px 8px;
  content: "Click again to finish.";
  text-shadow: none;
  box-shadow: 0px 1px 5px #8F8F8F;
  color: #333;
}

.showDrawingCursor {
  cursor: pointer;
}

.drawingInstructions {
  position: absolute;
  right: 0;
  bottom: 100px;
  left: 0;
  background: #261835;
  text-align: center;
  line-height: 44px;
}

/********* Detail View ***************/
.detailSidebar {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 280px;
}

.detailSidebar>div {
  padding: 12px 14px;
}

.nav {
  background: #261835;
  height: 39px;
  color: rgba(255, 255, 255, 0.8);
}

.navHome {
  float: left;
}

.navRemix {
  float: right;
}

.navHome, .navRemix {
  padding-bottom: 2px;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
}

.navHome:hover, .navRemix:hover {
  color: white;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.lineHeader {
  /*background: #AD0101;*/
}

.lineName {
  font-size: 26px;
  font-weight: 600;
  line-height: 36px;
}

.lineDescription {
  font-size: 14px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 6px;
}

.lineName:hover, .lineDescription:hover {
  /* TODO: make this look more editable */
  cursor: pointer;
}

.lineVariables {
  /*background: #750000;*/
  line-height: 26px;
  color: rgba(255, 255, 255, 0.7);
}

.lineVariables span {
  color: white;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
  padding: 0 3px;
  margin: 0 -3px;
  min-width: 20px;
  display: inline-block;
}

.lineVariables span:hover {
  border-bottom: 1px dotted rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.lineFrequency {}
.lineSpeed {}
.lineHours {}

.lineCalculations {
  /*background: #3C0000;*/
  line-height: 26px;
  color: rgba(255, 255, 255, 0.7);
}

.lineCalculations span {
  color: white;
}

.lineDistance {}
.lineFrequency{}


/********* Home View ***************/
/* TODO: Make home view's css less bad */
.homeSidebar {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  width: 280px;
  overflow: hidden;
}

.homeSidebar>div {
  padding: 12px 14px;
}

.homeHeader {
  background: #261835;
  padding: 16px 14px !important;
}

.homeTitle {
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
}

.homeDescription {
  font-size: 14px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 6px;
}

.homeSidebar .lineHeader {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.homeSidebar .lineName {
  font-size: 20px;
  line-height: 24px;
}

.homeSidebar .lineDescription {
  height: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.newLine {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #261835;
}

.newLine span {
  border-bottom: 1px dotted #7D6992;
}
