<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="Design, remix, and share your pefect transit system.">
  <meta name="viewport" content="width=device-width">
  
  <title>Transitmix</title>

  <!-- typekit -->
  <script src="http://use.typekit.net/xkd8pzb.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

  <!-- mapbox css -->
  <link href="http://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.css" rel="stylesheet" />

  <!-- our fresh styles -->
  <%= css :app %>
</head>
<body>
  <div id="map"></div>

  <!-- underscore templates -->
  <script type="text/template" id="tmpl-home-view">
    <div class="homeTitle">Transitmix</div>
    <div class="homeDescription">Design, remix, and share your pefect transit system. First, choose a city:</div>
    <div class="homeCityWrapper">
      <span class="homeCity" contenteditable="true">San Francisco, CA</span>
      <span class="homeStartButton">Start</span>
    </div>
  </script>

  <script type="text/template" id="tmpl-map-sidebar-view">
    <div class="mapSidebarHeader">
      <div class="mapSidebarTitle">{{ name }}</div>
      <div class="homeDescription">Create and remix transit lines, for fun and profit.</div>
    </div>
    <div class="mapSidebarLines"></div>
    <div class="mapSidebarNew">Or create a <span>new transit line...</span></div>
  </script>

  <script type="text/template" id="tmpl-map-sidebar-subview">
    <div class="mapSidebarLine" style="background:{{ color }}">
      <a href="#map/{{ mapId }}/line/{{ id }}">
        <div class="lineName">{{ name }}</div>
        <div class="lineDescription">{{ description }}</div>
      </a>
    </div>
  </script>

  <script type="text/template" id="tmpl-line-sidebar-view">
    <div class="nav">
      <div class="navHome">See all lines</div>
      <div class="navRemix">Remix</div>
    </div>

    <div class="lineHeader" style="background: {{ color }}">
      <div class="lineName" contenteditable="true">48 Bravo</div>
      <div class="lineDescription" contenteditable="true">This line is modeled after my childhood dream of a line between the mission and golden gate park.</div>
    </div>

    <div class="lineVariables" style="background: {{ color2 }}">
      Arrives every <span class="lineFrequency" contenteditable="true">30</span> minutes,<br/>
      traveling at <span class="lineSpeed" contenteditable="true">25</span> miles per hour,<br/>
      from <span class="lineStartTime" contenteditable="true">8am</span> to <span class="lineEndTime" contenteditable="true">8pm</span>.
    </div>

    <div class="lineCalculations" style="background: {{ color3 }}">
      This line is <span class="lineDistance">0 miles</span><br/>
      and would cost <span class="lineCost">$0</span>.
    </div>
  </script>

  <!-- libs -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.stickit/0.7.0/backbone.stickit.min.js"></script>
  <script src="//api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.uncompressed.js"></script>

  <!-- the finest quality javascripts -->
  <%= js :app %>
</body>
</html>
