.mapSidebarView {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 280px;
}

.mapSidebarView>div {
  padding: 12px 14px;
}

.mapSidebarView span {
  border-bottom: 1px dotted #7D6992;
  color: white;
}

.mapSidebarView span:hover {
  cursor: pointer;
  border-bottom: 1px dotted #F9F4FF;
}

.mapSidebarHeader {
  background: $primary-color;
  padding: 16px 14px !important;
}

.mapSidebarTitle {
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
}

.mapSidebarDescription {
  font-size: 14px;
  line-height: 24px;
  color: #B9B3CA;
  margin-top: 6px;
}

.mapSidebarActions {
  background: $primary-color;
  position: relative;
  padding: 16px 14px !important;
}

.mapSidebarActions .left {
  position: relative;
  top: -1px;
}

.mapSidebarActions .right {
  position: absolute;
  right: 14px;
  top: 15px;
}

.mapSidebarActions .right span {
  margin-left: 10px;
}

.mapSidebarLines {
  padding: 0 !important;
}

.mapSidebarLine {
  padding: 17px 14px;
}

.mapSidebarLine .lineName {
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}

.mapSidebarLine .lineDescription {
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 11px;
}
