<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="Design, remix, and share your pefect transit map.">
  <meta name="viewport" content="width=device-width">
  
  <!-- bounce old internet explorer -->
  <!--[if lte IE 9]>
  <meta http-equiv="refresh" content="0;url=http://browser-update.org/update.html" />
  <![endif]-->
  
  <title>Transitmix</title>

  <!-- typekit -->
  <script src="http://use.typekit.net/xkd8pzb.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

  <!-- mapbox css -->
  <link href="http://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.css" rel="stylesheet" />

  <!-- our fresh styles -->
  <%= css :app %>
</head>
<body>
  <div id="map"></div>

  <!-- underscore templates -->
  <script type="text/template" id="tmpl-home-view">
    <div class="homeViewWrapper">
      <div class="homeTitle">Transitmix</div>
      <div class="homeDescription">Design, remix, and share your pefect transit map.<br />Choose a city:</div>
      <div class="homeCityWrapper">
        <span class="homeCity" contenteditable="true">San Francisco, CA</span>
        <span class="homeStartButton">Start</span>
      </div>
    </div>
    <div class="homeViewFeedback">
      <div class="feedbackHeader">What is this?</div>
      <div class="feedbackDescription">This is an <a href="https://github.com/codeforamerica/transitmix/blob/master/README.md">early preview</a> of a transit planning app, made by Code for America. Help make it better by <a href="mailto:transitmix@codeforamerica.org">emailing us</a> with feedback and stories. Or sign up for updates:</div>
       <form class="feedbackForm" action="https://tinyletter.com/transitmix" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/transitmix', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
        <p><input type="text" style="width:250px" name="email" id="tlemail" placeholder="Enter your email" /></p>
        <input type="hidden" value="1" name="embed"/><input class="feedbackSubmit" type="submit" value="Subscribe" />
      </form>
    </div>
  </script>

  <script type="text/template" id="tmpl-map-sidebar-view">
    <div class="mapSidebarHeader">
      <div class="mapSidebarTitle">{{ name }}</div>
      <div class="mapSidebarDescription">This map has {{ lineCount }} lines, covering {{ distance }} miles, costing ${{ cost }} per year.</div>
    </div>
    <div class="mapSidebarLines"></div>
    <div class="mapSidebarActions">
      <div class="left">
        <span class="addLine">Add a line</span>
      </div>

      <div class="right">
       <span class="share">Share</span>
       <span class="remix">Remix</span>
      </div>
    </div>
  </script>

  <script type="text/template" id="tmpl-map-sidebar-empty-view">
    <div class="mapSidebarHeader">
      <div class="mapSidebarTitle">{{ name }}</div>
      <div class="homeDescription">Lovely city you've got there. But it sure could use some transit.<!-- ' Fix syntax coloring in Sublime--></div>
      <div class="homeDescription">Start by <span class="addLine">adding a transit line</span>.</div>
    </div>
  </script>

  <script type="text/template" id="tmpl-map-sidebar-subview">
    <div class="mapSidebarLine" style="background:{{ color }}; bordedr: 1px solid {{ color2 }}; border-top: none;">
      <div class="lineName">{{ name }}</div>
      <div class="lineDescription">{{ distance }} miles • every {{ frequency }} min • {{ busesRequired }} buses</div>
    </div>
  </script>

  <script type="text/template" id="tmpl-line-sidebar-view">
    <div class="nav">
      <div class="navHome">&#8592; Map</div>
      <div class="navRight">
        <div class="navNew">Add a Line</div>
        <div class="navDelete">Delete</div>
      </div>
    </div>

    <div class="lineHeader" style="background: {{ color }}">
      <div class="lineName" contenteditable="true">48 Bravo</div>
      <div class="lineDescription" contenteditable="true">This line is modeled after my childhood dream of a line between the mission and golden gate park.</div>
    </div>

    <div class="lineVariables" style="background: {{ color2 }}">
      Arrives every <span class="lineFrequency" contenteditable="true">30</span> minutes,<br/>
      traveling at <span class="lineSpeed" contenteditable="true">25</span> miles per hour,<br/>
      from <span class="lineStartTime" contenteditable="true">8am</span> to <span class="lineEndTime" contenteditable="true">8pm</span>.
    </div>

    <div class="lineCalculations" style="background: {{ color3 }}">
      This line is <span class="lineDistance">0 miles</span>,<br/>
      requires <span class="lineBuses">0 buses</span>,<br/>
      and costs <span class="lineCost">$0</span> per year.
    </div>
  </script>

  <!-- libs -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.stickit/0.7.0/backbone.stickit.min.js"></script>
  <script src="//api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.uncompressed.js"></script>

  <!-- the finest quality javascripts -->
  <%= js :app %>

  <% if ENV['GOOGLE_ANALYTICS'] %>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '<%= ENV['GOOGLE_ANALYTICS'] %>', 'auto');
    ga('send', 'pageview');
    </script>
  <% end %>
</body>
</html>
